@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");
@import "tailwindcss";

:root {
  --color-main-body: rgba(3, 10, 18, .87);
  --color-secondary-body: #798184;
  --background: #ffffff;
  --content-width: 800px;
  --font-en: "Just Me Again Down Here", cursive;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-just-me-again-down-here: var(--font-en);


  /* Design Tokens */
}

body {
  background: var(--background);
  color: var(--color-main-body);
  font-family: Arial, Helvetica, sans-serif;
}
